{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block nav_button %}
    <li class="nav-item">
        <a class="nav-link" style="color: white; transition: color 0.3s ease;" href="{% url 'search' %}"><i class="fas fa-search"></i></a>
    </li>
{% endblock nav_button %}

{% block content %}

<div class="container-fluid mt-5 pt-4">
    <div class="row justify-content-center">

        <!-- Table of Contents (Left Sidebar) -->
        <nav id="sidebar" class="col-md-3 d-none d-md-block bg-light sidebar sidebar-sticky mt-1">
            <div id="leftCard" class="card border-0 shadow-sm">
                <div class="card-body m-3" >
                    <h5 class="sidebar-heading font-weight-bold">Table of Contents</h5>
                    <ul class="nav flex-column">
                        {% for child in page.get_children.live %}
                            <li class="nav-item">
                                <a class="nav-link d-flex justify-content-between align-items-center" 
                                data-toggle="collapse" data-target="#collapse-{{ child.id }}" aria-expanded="false" 
                                aria-controls="collapse-{{ child.id }}">
                                    {{ child.title }}
                                    <span class="ml-auto">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="collapse" id="collapse-{{ child.id }}">
                                    <ul class="nav flex-column ml-4">
                                        {% for item in child.specific.body %}
                                            {% if item.block_type == 'heading' %}
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#heading-{{ child.id }}-{{ forloop.counter }}">
                                                        {{ item.value.text }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 col-lg-8 px-4 mt-1">
            {% for block in page.get_children.live %}
                {% if block.specific.body %}
                    <div class="card mb-5 border-0 shadow-sm content-card">
                        <div class="card-body m-5">
                            <a class="card-title-link" href="{{ block.url }}">
                                <h1 class="card-title font-weight-bold" id="title-{{block.id}}-{{block.title}}">{{ block.title }}</h1>
                            </a>
                            {% for b in block.specific.body %}
                                {% if b.block_type == 'paragraph' %}
                                    <p id="page-{{ block.id }}" class="card-text">{{ b.value|safe }} </p>
                                {% elif b.block_type == 'image' %}
                                    <div id="page-{{ block.id }}" class="d-flex justify-content-center mb-4">
                                        <div class="img-fluid mx-auto">
                                            {% with image=b.value %}
                                                {% load wagtailimages_tags %}
                                                {% image image max-800x600 as img %}
                                                <a href="{{ img.url }}" data-lightbox="image-{{img.url}}" data-title="{{ img.alt }}">
                                                    <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                                </a>
                                            {% endwith %}
                                        </div>                                        
                                    </div>
                                {% elif b.block_type == 'code' %}
                                    <div id="page-{{ block.id }}" class="code-block mb-4">
                                        <pre><code class="language-{{ b.value.language }}">{{ b.value.code|safe }}</code></pre>
                                    </div>
                                {% elif b.block_type == 'heading' %}
                                    <h{{ b.value.level }} id="heading-{{ block.id }}-{{ forloop.counter }}" id="page-{{ block.id }}" class="mb-4 section-heading">{{ b.value.text }} </h{{ b.value.level }}>
                                {% elif b.block_type == 'list' %}
                                    <ul id="page-{{ block.id }}" class="list-group mb-4">
                                        {% for item in b.value %}
                                            <li class="list-group-item">{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                {% elif b.block_type == 'table' %}
                                    <div class="table-responsive mb-4">
                                        <table id="page-{{ block.id }}" class="table table-bordered" id="mainTable">
                                            <thead>
                                                <tr>
                                                    {% for header in b.value.headers %}
                                                        <th>{{ header }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in b.value.rows %}
                                                    <tr>
                                                        {% for cell in row %}
                                                            <td>{{ cell }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% elif b.block_type == 'tree' %}
                                    {% if b.value.children %}
                                    <ol class="tree-block">
                                        {% for child in b.value.children %}
                                            <li id="page-{{ block.id }}" class="mb-4">
                                                <h5>{{ child.title }}</h5>
                                                <div class="img-fluid mx-auto">
                                                    {% with image=child.child_img %}
                                                        {% load wagtailimages_tags %}
                                                        {% image image max-800x600 as img %}
                                                        <a href="{{ img.url }}" data-lightbox="image-{{img.url}}" data-title="{{ img.alt }}">
                                                            <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                                        </a>
                                                    {% endwith %}
                                                </div>    
                                                <p>{{ child.content }}</p>
                                                {% if child.child %}
                                                <ul>
                                                    {% for second_child in child.child %}
                                                        <li>
                                                            <h5>{{ second_child.title }}</h5>
                                                            <div class="img-fluid mx-auto">
                                                                {% with image=second_child.child_img %}
                                                                    {% load wagtailimages_tags %}
                                                                    {% image image max-800x600 as img %}
                                                                    <a href="{{ img.url }}" data-lightbox="image-{{img.url}}" data-title="{{ img.alt }}">
                                                                        <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                                                    </a>
                                                                {% endwith %}
                                                            </div>    
                                                            <p>{{ second_child.content }}</p>
                                                            {% if second_child.child %}
                                                            <ul>
                                                                {% for third_child in second_child.child %}
                                                                <li>
                                                                    <h5>{{ third_child.title }}</h5>
                                                                    <div class="img-fluid mx-auto">
                                                                        {% with image=third_child.child_img %}
                                                                            {% load wagtailimages_tags %}
                                                                            {% image image max-800x600 as img %}
                                                                            <a href="{{ img.url }}" data-lightbox="image-{{img.url}}" data-title="{{ img.alt }}">
                                                                                <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                                                            </a>
                                                                        {% endwith %}
                                                                    </div>    
                                                                    <p>{{ third_child.content }}</p>
                                                                    {% if third_child.child %}
                                                                    <ul>
                                                                        {% for fourth_child in third_child.child %}
                                                                        <li>
                                                                            <h5>{{ fourth_child.title }}</h5>
                                                                            <div class="img-fluid mx-auto">
                                                                                {% with image=fourth_child.child_img %}
                                                                                    {% load wagtailimages_tags %}
                                                                                    {% image image max-800x600 as img %}
                                                                                    <a href="{{ img.url }}" data-lightbox="image-{{img.url}}" data-title="{{ img.alt }}">
                                                                                        <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                                                                    </a>
                                                                                {% endwith %}
                                                                            </div> 
                                                                            <p>{{ fourth_child.content|safe }}</p>
                                                                            {% if fourth_child.child %}
                                                                            <ul>
                                                                                {% for fifth_child in fourth_child.child %}
                                                                                <li>
                                                                                    <h5>{{ fifth_child.title }}</h5>
                                                                                    <div class="img-fluid mx-auto">
                                                                                        {% with image=fifth_child.child_img %}
                                                                                            {% load wagtailimages_tags %}
                                                                                            {% image image max-800x600 as img %}
                                                                                            <a href="{{ img.url }}" data-lightbox="image-{{img.url}}" data-title="{{ img.alt }}">
                                                                                                <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                                                                            </a>
                                                                                        {% endwith %}
                                                                                    </div> 
                                                                                    <p>{{ fifth_child.content|safe }}</p>
                                                                                </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                    {% endif %}
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </main>

    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script>
        document.querySelectorAll('[data-toggle="collapse"]').forEach(function(element) {
            element.addEventListener('click', function(event) {
                const target = document.querySelector(this.getAttribute('data-target'));
                const icon = this.querySelector('i');
                
                if (target.classList.contains('show')) {
                    target.classList.remove('show');
                    icon.classList.remove('fa-chevron-up');
                    icon.classList.add('fa-chevron-down');
                } else {
                    document.querySelectorAll('.collapse').forEach(collapse => collapse.classList.remove('show'));
                    document.querySelectorAll('i').forEach(i => {
                        i.classList.remove('fa-chevron-up');
                        i.classList.add('fa-chevron-down');
                    });
                    target.classList.add('show');
                    icon.classList.remove('fa-chevron-down');
                    icon.classList.add('fa-chevron-up');
                }
            });
        });

        window.onscroll = function() {
            const arrowUpBtn = document.getElementById('arrow-up');
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                arrowUpBtn.style.display = 'block';
            } else {
                arrowUpBtn.style.display = 'none';
            }
        };

        document.getElementById('arrow-up').addEventListener('click', function(e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-html.min.js"></script>
</body>

{% endblock extra_js %}
