{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="container-fluid mt-5 pt-4">
    <div class="row">
        <!-- Table of Contents (Left Sidebar) -->
        <nav id="sidebar" class="col-md-3 d-none d-md-block bg-light sidebar sidebar-sticky mt-1">
            <h5 class="sidebar-heading">Table of Contents</h5>
            <ul class="nav flex-column">
                {% for child in page.get_children.live %}
                    <li class="nav-item">
                        <a class="nav-link" href="#page-{{ child.id }}">{{ child.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-8 px-4 mt-1 main-content">
            {% for block in page.get_children.live %}
                {% if block.specific.body %}
                    <article class="mb-4">
                        <a class="" href="{{ block.url }}">
                            <h1 id="page-{{ block.id }}" class="mb-3">{{ block.title }}</h1>
                        </a>
                        {% for b in block.specific.body %}
                            {% if b.block_type == 'paragraph' %}
                                <p class="mb-4">{{ b.value|safe }}</p>
                            {% elif b.block_type == 'image' %}
                                <div class="text-center mb-4">
                                    {% with image=b.value %}
                                    {% load wagtailimages_tags %}
                                    {% image image original as img %}
                                    <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded shadow-sm">
                                    {% endwith %}
                                </div>
                            {% elif b.block_type == 'code' %}
                                <div class="code-block mb-4">
                                    <pre><code class="language-{{ b.value.language }}">{{ b.value.code|safe }}</code></pre>
                                </div>
                            {% elif b.block_type == 'heading' %}
                                {% if b.value.level == '1' %}
                                    <h2 class="mb-4">{{ b.value.text }}</h2>
                                {% elif b.value.level == '2' %}
                                    <h3 class="mb-3">{{ b.value.text }}</h3>
                                {% elif b.value.level == '3' %}
                                    <h4 class="mb-2">{{ b.value.text }}</h4>
                                {% endif %}
                            {% elif b.block_type == 'list' %}
                                <ul class="mb-4">
                                    {% for item in b.value %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            {% elif b.block_type == 'table' %}
                                <table class="table table-bordered mb-4">
                                    <thead>
                                        <tr>
                                            {% for header in b.value.headers %}
                                                <th>{{ header }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in b.value.rows %}
                                            <tr>
                                                {% for cell in row %}
                                                    <td>{{ cell }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% elif b.block_type == 'tree' %}
                                {% if b.value.children %}
                                <ol>
                                    {% for child in b.value.children %}
                                        <li>
                                            <h5>{{ child.title }}</h5>
                                            <p>{{ child.content }}</p>
                                            {% if child.item %}
                                            <ul>
                                                {% for second_child in child.item %}
                                                    <li>
                                                        <h5>{{ second_child.title }}</h5>
                                                        <p>{{ second_child.content }}</p>
                                                        {% if second_child.item %}
                                                        <ul>
                                                            {% for third_child in second_child.item %}
                                                            <li>
                                                                <h5>{{ third_child.title }}</h5>
                                                                <p>{{ third_child.content }}</p>
                                                                {% if third_child.item %}
                                                                <ul>
                                                                    {% for fourth_child in third_child.item %}
                                                                    <li>
                                                                        <h5>{{ fourth_child.title }}</h5>
                                                                        <p>{{ fourth_child.content|safe }}</p>
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </article>
                {% endif %}
            {% endfor %}
        </main>
    </div>
</div>
{% endblock content %}

